h2 {
	font-family: "EB Garamond", serif;
	font-weight: 700;
}

h3 {
	font-family: "EB Garamond", serif;
	font-weight: 600;
}

h4 {
	font-family: "EB Garamond", serif;
	font-weight: 500;
}

p {
	font-family: "EB Garamond", serif;
	font-weight: 400;
}
