@use "../variabels/colors";

h1 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  color: colors.$primary-color;
  text-decoration: underline;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  color: colors.$primary-color;
}

h3 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  color: colors.$primary-color;
}

h4 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: colors.$primary-color;
}

p {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  color: colors.$primary-color;
}
