@use "../variabels/colors";

.popup-content-calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .col-left {
    border: solid 2px colors.$primary-color;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between !important;
      border-bottom: solid 2px colors.$primary-color;
      padding: 0.5rem;

      .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          color: colors.$primary-color;
        }

        #month {
          font-size: 2rem;
        }
      }

      .cal-button {
        border: none;
        font-size: 1.5rem;
        margin: 0;
      }
    }

    .bottom {
      table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid colors.$primary-color;
        border-collapse: collapse;
      }
      th,
      td {
        width: 14.2%;
        border: 1px solid colors.$primary-color;
        border-collapse: collapse;
        color: colors.$primary-color;
        font-size: 1rem;
        text-align: center;
      }

      .active-day {
        background-color: colors.$primary-color;
        opacity: 0.3;
        color: colors.$background-color;
      }

      .today {
        background-color: colors.$primary-color;
        color: colors.$background-color;
        opacity: 1 !important;
      }

      .has-event::before {
        content: " ";
        display: block;
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: colors.$primary-color;
        margin-left: 7.5vw;
        margin-top: 0.4vh;
      }

      .today.has-event::before {
        background-color: colors.$background-color;
      }

      .active-day.has-event::before {
        background-color: colors.$background-color;
      }
    }
  }

  .col-right {
    h2 {
      text-align: center;
    }

    h3 {
      text-decoration: underline;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    span {
      color: colors.$primary-color;
    }

    .devider {
      height: 1px;
      width: 100%;
      background-color: colors.$primary-color;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 760px) {
  .popup-content-calendar {
    align-items: center;
    .col-left {
      width: 70%;

      .top {
        .wrapper {
          span {
            color: colors.$primary-color;
          }

          #month {
            font-size: 2.5rem;
          }
        }
      }
      .bottom {
        th,
        td {
          font-size: 1.5rem;
        }

        .has-event::before {
          height: 7px;
          width: 7px;
          margin-left: 6vw;
          margin-top: 0.4vh;
        }
      }
    }

    .col-right {
      width: 70%;

      h2 {
        text-align: left !important;
      }

      h3 {
        text-decoration: underline;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      span {
        color: colors.$primary-color;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .popup-content-calendar {
    flex-direction: row;
    align-items: flex-start;

    .col-left {
      width: 50%;

      .bottom {
        table {
          width: 100%;
          height: auto;
          border: 1px solid colors.$primary-color;
          border-collapse: collapse;
        }
        th,
        td {
          border: 1px solid colors.$primary-color;
          border-collapse: collapse;
          color: colors.$primary-color;
          font-size: 1rem;
          text-align: center;
          width: 2em;
          height: 3rem;
        }

        .has-event::before {
          height: 10px;
          width: 10px;
          margin-left: 3vw;
          margin-top: -1vh;
        }
      }
    }

    .col-right {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
