@use "../variabels/colors";

#dash-content-wrapper {
  #dash-bartenders {
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  article {
    border: solid 3px colors.$primary-color;
    padding: 1rem;

    h2 {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 760px) {
  #dash-bartenders {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media only screen and (min-width: 1500px) {
  #dash-bartenders {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    height: 100%;
  }
}
