@use "../variabels/colors";

#dash-content-wrapper {
  #dash-bartenders {
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  article {
    border: solid 3px colors.$primary-color;
    padding: 1rem;

    h2 {
      text-align: center;
    }
  }
}
