#dash-income {
  #chart-container {
    display: flex;
    justify-content: center;
    canvas {
      width: 80% !important;
      height: 80% !important;
    }
  }
  .income-number {
    text-align: center;
    position: relative;
  }
}

@media only screen and (min-width: 1000px) {
  #dash-income {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 90%;
  }
}
