@use "../variabels/colors";

#beer-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 30px;
	text-align: center;
	margin: 0 15px 30px;
}

#beer-container p {
	border: 2px solid colors.$primary-color;
	height: 50px;
}

#beer-container p:nth-child(1),
#beer-container p:nth-child(4) {
	border-right: none;
}

#beer-container p:nth-child(2),
#beer-container p:nth-child(5) {
	border-left: none;
	border-right: none;
}

#beer-container p:nth-child(3),
#beer-container p:nth-child(6) {
	border-left: none;
}

#beer-container p:nth-child(7) {
	grid-column: 2/3;
}

@media only screen and (min-width: 700px) {
	#taps {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#beer-container {
		display: flex;
		margin: 0 auto;
		border: 2px solid colors.$primary-color;
		width: 90%;
		justify-content: space-evenly;
	}

	#beer-container p {
		border: none;
	}
}
