@use "../variabels/colors";
#taps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	margin: 10px 10px 50px;
}

#taps p {
	text-align: center;
	border: 2px solid colors.$primary-color;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #efd7b359;
}

#taps img {
	width: 55px;
	display: block;
	margin: 0 auto -10px;
	opacity: 25%;
}

#taps div:nth-child(10) {
	grid-row: 4/5;
	grid-column: 1/4;
}

#taps div:nth-child(1) p,
#taps div:nth-child(4) p,
#taps div:nth-child(7) p {
	border-right: none;
}

#taps div:nth-child(2) p,
#taps div:nth-child(5) p,
#taps div:nth-child(8) p {
	border-left: none;
	border-right: none;
}

#taps div:nth-child(3) p,
#taps div:nth-child(6) p,
#taps div:nth-child(9) p {
	border-left: none;
}

@media only screen and (min-width: 760px) {
	#taps img {
		width: 50px;
		display: block;
		margin: 0 auto -12px;
	}

	#taps {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 0px;
		border: none;
		margin: 0 auto;
		padding: 0 10px;
	}
	#taps p {
		text-align: center;
		border: 2px solid colors.$primary-color;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#taps div:nth-child(10) {
		grid-column: 5/6;
		grid-row: 2/3;
	}

	#taps div:nth-child(3) p,
	#taps div:nth-child(4) p,
	#taps div:nth-child(6) p,
	#taps div:nth-child(9) p {
		border-right: none;
	}

	#taps div:nth-child(4) p,
	#taps div:nth-child(7) p,
	#taps div:nth-child(10) p {
		border-left: none;
	}

	#taps div:nth-child(5) p,
	#taps div:nth-child(6) p {
		border-left: 2px solid colors.$primary-color;
	}

	#taps div:nth-child(5) p {
		border-left: none;
		border-right: 2px solid colors.$primary-color;
	}
}

@media only screen and (min-width: 1000px) {
	#taps img {
		width: 65px;
		display: block;
		margin: 0 auto;
	}
	#taps {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(10, 1fr);
		height: 100px;
		width: 95%;
		justify-content: space-evenly;
		margin-top: 45px;
	}
	#taps p {
		height: 45px;
	}

	#taps div:nth-child(5) p,
	#taps div:nth-child(6) p {
		border-right: none;
		border-left: none;
	}

	#taps div:nth-child(10) {
		grid-row: initial;
		grid-column: initial;
	}
}

.showbeer {
	opacity: 100% !important;
}

.showbeername {
	color: colors.$primary-color !important;
}
