@use "../variabels/colors";
.clock-base {
	width: 110px;
	height: 110px;
	background: linear-gradient(41deg, rgba(62, 69, 56, 1) 40%, rgba(70, 82, 64, 1) 65%, rgba(62, 69, 56, 1) 100%);
	border-radius: 50%;
	padding: 30px;
	position: relative;
	display: block;
	margin: 10px auto 10px;
	border: 3px solid colors.$primary-color;
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
	width: 50%;
	height: 4px;
	background: #ead2ae;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	border-radius: 4px;
}

.clock-seconds {
	height: 2px;
}

.clock-hour {
	width: 35%;
	left: 15%;
}

.clock-indicator {
	position: absolute;
	width: 4px;
	height: 7%;
	border-radius: 3px;
	background: #ead2ae;
}

.clock-indicator:nth-child(1) {
	transform: rotate(90deg);
	left: 93%;
	top: 45%;
}

.clock-indicator:nth-child(2) {
	transform: rotate(90deg);
	left: 5%;
	top: 45%;
}

.clock-indicator:nth-child(3) {
	left: 50%;
	top: 3%;
}

.clock-indicator:nth-child(4) {
	left: 50%;
	top: 90%;
}

.digital-clock {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 20px;
}

.lastcall {
	background: linear-gradient(41deg, rgba(181, 84, 49, 1) 40%, rgba(195, 95, 59, 1) 65%, rgba(181, 84, 49, 1) 100%);
}

.happyhour {
	background: linear-gradient(41deg, rgba(93, 115, 87, 1) 40%, rgba(112, 135, 105, 1) 65%, rgba(93, 115, 87, 1) 100%);
}

.clock-event {
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}
