@use "../base/colors";
@use "../base/typography";

button {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: solid 2px colors.$primary-color;
  border-bottom: solid 2px colors.$primary-color;
  color: colors.$primary-color;
  cursor: pointer;
  padding: 4px 0;
}
.filters button {
  white-space: nowrap;
  transform-origin: center;
  transform: rotate(-90deg);
  width: fit-content;
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
}

.filters button:hover {
  border: solid 2px colors.$primary-color;
}
.active_button {
  // border: solid 2px colors.$third-green-color;
  // border-top: solid 2px colors.$primary-color;
  // border-bottom: solid 2px colors.$primary-color;
  background-color: colors.$primary-color;
  color: colors.$background-color;
}
.payment_options button {
  border: solid 2px colors.$primary-color;
  // height: 6vh;
  padding: 0.5rem;
  width: 23vw;
}
.payment_options button img {
  width: 15vw;
}
.pay {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.goback {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.go_back {
  width: 33vw;
}
.add_to_cart {
  display: inline;
  margin-left: 1rem;
  width: 30px;
}
.close_button_container {
  position: sticky;
  height: -1vh;
  width: 10vw;
  display: block;
  top: 0vh;
  left: 8vw;
  margin: 0.5rem;
  z-index: 120;
  overflow: visible;
}

#close {
  display: contents;
  cursor: pointer;
  font-weight: bold;
  float: right;
  /* margin: 2.5rem; */
  position: absolute;
  z-index: 49;
  /* left: 31vw; */
  font-size: 2rem;
  border: none;
  color: colors.$primary-color;
  background-color: transparent;
}
.basket #close {
  left: 86%;
  margin: 0;
  display: flex;
}
.checkout {
  position: absolute;
  top: 43vh;
}
.x {
  font-size: 2rem;
  padding: 0px;
  line-height: 0.1rem;
  font-family: sans-serif;
}
//ipad
@media only screen and (min-width: 700px) {
  .filters button {
    transform: rotate(0deg);
  }
  .payment_options button {
    width: 7vw;
  }
  .checkout {
    top: 43vh;
  }

  .payment_options button img {
    width: 5vw;
  }
  .cart {
    display: none;
  }
  .basket #close {
    display: none;
  }
  .filters button {
    font-size: 1rem;
  }
  .go_back {
    max-width: 12vw;
    width: fit-content;
  }
  .close_button_container {
    width: 1vw;
    left: 10vw;
    margin: 0.5rem;
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .checkout {
    top: 72vh;
  }
}
