@use "../base/colors";
@use "../base/typography";

button {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: solid 2px colors.$primary-color;
  border-bottom: solid 2px colors.$primary-color;
  color: colors.$primary-color;
}
.filters button {
  white-space: nowrap;
  transform-origin: center;
  transform: rotate(-90deg);
  width: fit-content;
}

.payment_options button {
  border: solid 2px colors.$primary-color;
  // height: 6vh;
  padding: 0.5rem;
}
.payment_options button img {
  width: 15vw;
}
.pay {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.goback {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.add_to_cart {
  visibility: hidden;
}
@media only screen and (min-width: 700px) {
  .filters button {
    transform: rotate(0deg);
  }
  .add_to_cart {
    visibility: visible;
    margin-left: 1rem;
  }
  .checkout {
    position: absolute;
    top: auto;
    left: 38%;
  }
  .payment_options button img {
    width: 5vw;
  }
}
