@use "../base/colors";
@use "../base/typography";

input {
  border: solid 2px colors.$primary-color;
  background-color: transparent;
  height: 6vh;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

@media only screen and (min-width: 700px) {
  .input_wrapper {
    width: 25vw;
  }
  input {
    height: 6vh;
  }
  .card_wrapper input {
    height: 3.5vh;
  }
}
